{% extends "base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "/home/styles.css" %}">
{% endblock %}
{% block content %}
  <div class="home-wrapper">
    <div class="home-header">
      <div class="home-header-text">
        <h1>Adelaide Beauty</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Dictum varius duis at consectetur. </p>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Learn more
        </button>
      </div>
    </div>
  <div class="home-first-section">

  </div>
  </div>

{% endblock %}




  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
{#  <header class="mdl-layout__header">#}
{#    <div class="mdl-layout__header-row">#}
{#      <div class="mdl-layout-spacer"></div>#}
{#      #}
{#    </div>#}
{#  </header>#}
{#  <div class="mdl-layout__drawer">#}
{#    <span class="mdl-layout-title">Title</span>#}
{#    <nav class="mdl-navigation">#}
{#      <a class="mdl-navigation__link" href="">Link</a>#}
{#      <a class="mdl-navigation__link" href="">Link</a>#}
{#      <a class="mdl-navigation__link" href="">Link</a>#}
{#      <a class="mdl-navigation__link" href="">Link</a>#}
{#    </nav>#}
{#  </div>#}
{#  <main class="mdl-layout__content">#}
{#    <div class="page-content"><!-- Your content goes here --></div>#}
{#  </main>#}
{#</div>#}