.home-header {
  height: 100vh;
  text-align: center;
  color: darkslategray;
}

.home-header-text {
  width: 60%;
  position: relative;
  left: 20%;
  top: 15%;
}

.home-header-text h1 {
  border: 4px double lightslategray;
  padding: 40px;
}

.home-header-text p {
  margin-top: 60px;
}

.home-header-text button {
  margin-top: 50px;
      border: 1px solid lightslategray;

}

.home-first-section{
  height: 1000px;
  background-color: white;
}

@media screen and (max-width:480px) {
  .home-header-text h1 {
    padding: 25px 0;
    font-size: 3rem;
}

}
