.home-header {
  height: 100vh;
  text-align: center;
  color: darkslategray;
}

.home-header-text {
  width: 60%;
  position: relative;
  left: 20%;
  top: 15%;
}

.home-header-text h1 {
  border: 10px double darkslategray;
  padding: 100px 25px;
}

.home-header-text p {
  margin-top: 60px;
}

.home-header-text button {
  margin-top: 50px;
  border: 1px solid lightslategray;

}

.home-first-section {
  height: 1000px;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .home-header {
    margin: 8px;

  }

  .home-header-text {
    margin: auto;
    width: 100%;
    position: relative;
    left: 0;
  }

  .home-header-text h1 {
    font-size: 3.360rem;
  }


}

